header, ul, li, a {
    font-weight: thin;
    color: white;
  }
  
  #navbar {
    border-right: solid;
    position: fixed;
    min-width: 300px;
    top: 0px;
    left: 0px;
    width: 330px;
    height: 100%;
    color: white;
    background-color: black;
    justify-content: center;
    overflow: scroll;
    z-index: 999;
  }
  
  #main-doc, header{
    text-align: left;
    font-size: 14px;
    min-width: 598.4px;
    max-width: 800px;
  }
  
  li{
    padding: 10px;
    font-size: 16px;
    max-width: 300px;
  }
  
  .nav-li{
    padding: 1px;
    border-radius: 20px;
    font-weight: 700;
    align-self: center;
    border: 1px solid black;
    z-index: 999;
  }
  .nav-li:hover{
    background-color: #3e3e3e;
    transition-duration: 0.5s;
    border: 1px solid rgb(92, 91, 91)
  }

  .nav-li:active {
    background-color: #686868;
    border: 1px solid #6b6b6b;
    transition-duration: 0.1s;
    border-radius: 20px;
  }
  
  .nav-ul{
    list-style: none;
    overflow-y: auto;
    overflow-x: hidden;
    justify-content: center;
    color: white;
    background-color: black;
    border-radius: 20px;
    z-index: 999;
  }
  
    #navbar, a {
    display: block;
  }
  
    #main-doc{
    position: absolute;
    margin-left: 330px;
    margin-bottom: 130px;
    padding: 20px;
  }
  
  header{
    text-align: left;
    font-size: 24px;
    padding: 10px;
  }

  .nav-header{
    font-size: 22px;
    padding: 6px;
    color: white;
    background-color: black;
    z-index: 999;
  }
  *{
    font-family: sans-serif;
    text-decoration: none;
  }
  
  hr{
    color: #3e3e3e;
  }
  
  body{
    color: white;
    background-color: black;
  }

  #main-doc{
    border: 2px solid #3e3e3e;
  }
  img{
    min-width: 598.4px;
    max-width: 800px;
  }
  
  .img-container{
    min-width: 598.4px;
    max-width: 800px;
  }

  .tweet{

  }

  .tweet:hover{
    cursor: pointer;
  }

  .tweet:active{
    filter: brightness(50%);
  }
  .container{
    min-width: 598.4px;
    max-width: 800px;
    border: 2px solid #3e3e3e;
    padding: 100px;
  }

  .icon{
    filter:brightness(1000%);
    min-width: 20px;
    max-width: 20px;
    padding: 16px;
    align-self: center;
    z-index: 999;
  }

  p{
    font-weight: bold;
  }

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

h1, h2{
    font-weight: bold;
}
.featuredcontainer{
    border-radius: 20px;
    background-color:rgb(124, 31, 145);
    width: 800px;
    height: 200px;
    align-items: center;
}
.featuredimg{
    border-radius: 20px;
}

.nav-lifeatured{
  padding: 1px;
  border-radius: 20px;
  font-weight: 700;
  align-self: center;
  border: 1px solid black;
  z-index: 999;
  background-color:rgb(124, 31, 145);
}

.nav-lifeatured:hover{
  background-color:rgb(172, 29, 204);
  transition-duration: 0.5s;
  border: 1px solid rgb(239, 15, 235)
}

.nav-lifeatured:active {
  background-color:rgb(208, 0, 255);
  border: 1px solid #bf00ff;
  transition-duration: 0.1s;
  border-radius: 20px;
}
